.card{
    width:500px;
    max-width: 90%;
    min-height: 300px;
    background: #1d1d1d;
    /* background: linear-gradient(to right, #83e85a, #1cbbb4); */
    /* background: linear-gradient(to right, #81FBB8 , #28C76F); */
    /* #81FBB8 */
/* #28C76F */
    padding: 30px;
    border-radius: 20px;
    /* text-align: center; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.headingWrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}

.heading{
    font-size:22px;
    font-weight: bold;
    margin-left: 10px;
}