.cardWrapper{
    composes: cardWrapper from '../StepPhoneEmail/StepPhoneEmail.module.css';
}

.buttonWrap{
    composes: buttonWrap from '../StepPhoneEmail/StepPhoneEmail.module.css';
}

.bottomParagraph{
    composes: bottomParagraph from '../StepPhoneEmail/StepPhoneEmail.module.css';
}

.actionButtonWrap{
    margin-top: 40px;
}